.center-items{
    text-align: center;
   
}
.card{
    min-height:10px!important;
}
.smart-form fieldset {
   
    background: transparent;
  
}
h2 {
    letter-spacing: -1px;
    font-size: 22px;
    margin: 5px 0;
    line-height: normal;
    font-weight: bold!important;
}
h5 {
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
    line-height: normal;
}
body.smart-form {
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
    
}
.multi-select-container {
    display: inline-block;
    position: relative;
}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 0.8em;
    z-index: 30;
    float: left;
    min-width: 100%;
    background: #fff;
    margin: 1em 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

.multi-select-menuitem {
    display: block;
    font-size: 0.875em;
    padding: 0.6em 1em 0.6em 30px;
    white-space: nowrap;
}

.multi-select-menuitem + .multi-select-menuitem {
    padding-top: 0;
}

.multi-select-presets {
    border-bottom: 1px solid #ddd;
}

.multi-select-menuitem input {
    position: absolute;
    margin-top: 0.25em;
    margin-left: -20px;
}

.multi-select-button {
    display: inline-block;
    font-size: 0.875em;
    padding: 0.2em 0.6em;
    max-width: 210px;
    width:210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -0.5em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: default;
}



.multi-select-container--open .multi-select-menu {
    display: block;
}

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}

.multi-select-container--positioned .multi-select-menu {
    /* Avoid border/padding on menu messing with JavaScript width calculation */
    box-sizing: border-box;
}

.multi-select-container--positioned .multi-select-menu label {
    /* Allow labels to line wrap when menu is artificially narrowed */
    white-space: normal;
}

.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
     height: 35px; 
    line-height: 32px;
    padding: 5px 10px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}


.input{
    font-weight: bold!important;
    color:#B7CCD4!important;
    padding-bottom: 3px;
    font-size:14px;
}
.commentsInput{
    font-weight: bold!important;
    color:#000!important;
    padding-bottom: 3px;
    font-size:14px;
}
.sideInput{
    width:220px;
}
.sideInputSmall{
    width:100px;
}
.sideTextSmall{
    width:80px;
}
.sideTextVerySmall{
    width:40px;
}
.sideText{
    width:220px;
    border-radius: 4px;
}

.txt-color-blueDark {
    color: #4c4f53!important;
    font-weight: bolder;
}
.txt-color-darkgreen
{
    color:#098545!important
}
.jarviswidget>header {
  
    border: 1px solid #C2C2C2;
    background-color:rgb(50,76,127); color:#fff;
    font-weight: bold!important;
}
.fc-head-container thead tr, .table thead tr{
    background: #2cb763; color:#fff;
  }
  .cardsDiv>div{
      background: #373b3e!important;
      border-radius: 10px!important;

  }
  .chartDiv>div{
    background: #e1f0e9!important;
  

}
  .text-color-white{
    color: #87CEEB!important;
    font-weight: bolder;
    font-size: 25px!important;
  }
  .detailsTableTr{
      background-color: #e1f0e9!important;
   
  }
  .transparentWidget{
      background-color:transparent!important;
  }
  .jarviswidget>div {
    background: url(../img/mybg.png) #fff;
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.table-striped>tbody>tr:nth-of-type(even) {

    background-color: #b8d1f3;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    border:none;
}
.table-striped>tbody>tr:nth-of-type(odd) {

    background-color: #dae5f4;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    border:none;
}
.leftCurved{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .rightCurved{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .cardTitle{
      color:#ffff00 !important;
      font-weight: bold!important;
  }
  .detailsTable{
    border-radius: 2px;
    border-collapse: separate;
    border-spacing: 0 5px;
    margin-top: .66rem;
    margin-bottom: 2px!important;
  }

  #project-selector, .project-selector {
    max-width: 97%;
    white-space: nowrap;
    background: 0 0;
    border: none;
    padding-bottom: 5px;
    text-align: left;
    color: #132D76;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
#project-selector:hover, .project-selector:hover {
    color: #132D76;

}
#ribbon {
    min-height: 40px;
    background: none!important;
    padding: 0 13px;
    position: relative;
}
#header {
    display: block;
    height: 69px!important;
    margin: 0;
    padding: 0 13px 0 0;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e2e2e2));
    background-image: -webkit-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -o-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: linear-gradient(to bottom,#f3f3f3,#e2e2e2);
    background-repeat: repeat-x;
    position: relative;
    z-index: 905;
}

#logo img {
    width: 150px;
    height: auto;
    padding-left: 3px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 16px;
    color: #132D76;
}
#left-panel {
  
    padding-top: 30px;
}
@media (min-width: 768px){
.navbar-nav>li>a {
    /* padding-top: 16px; */
    /* padding-bottom: 6px; */
    padding-top: 40px;
}
#left-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 904;
    padding-top: 30px;
}
#main {
    margin-left:10px!important;
    margin-top:5px;
    margin-right: 10px;
   
}
.hidden-menu #left-panel {
    left: -280px;
    z-index: 903;
}
.hidden-menu #main {
    margin-left: 10px!important;
}

}

.smart-accordion-default .panel-default {
    border-color: #c3c3c3;
    background: transparent;
}

.panel-default>.panel-heading {
 
    border: 1px solid #C2C2C2;
    background-color: rgb(50,76,127)!important;
    color: #fff!important;
    font-weight: bold!important;
}
.sideLink{
    color:#4c4f53!important;
    font-size: 15px;
    padding-right:5px!important;
}
.tab-pane .sideInput{
    color:#000!important;
}

.smart-form fieldset {
  
    padding: 10px 14px!important;
    margin:2px;
  
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
    white-space: nowrap;
    text-overflow: ellipsis!important;
    overflow: hidden;
    max-width: 200px;
}
.searchCriteriaDiv>div {
    background: #f5f5f5!important;
    border-radius: 10px!important;
    border-color:transparent!important;

}
.modalRow{
    background: #f5f5f5!important;
    border-radius: 10px!important;
    border-color:transparent!important;
    padding: 3px!important;

}
.modalSpan{
    padding:3px!important;
}
.remove-button:hover {
    color: #000!important;
    cursor: pointer;

}
.jarviswidget>div {
    
    padding: 3px 3px 0;
   
}
.table-striped > tbody > tr:nth-of-type(2n)
{
    background-color:#fff;
    font-family:"Open Sans",Arial,Helvetica,sans-serif;
    font-size:13px;
    color: #191970;
}
.table-striped > tbody > tr:nth-of-type(2n+1)
{
   
    background-color:#e9f3fd;
    font-family:"Open Sans",Arial,Helvetica,sans-serif;
    font-size:13px;
    color: #191970;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-color:#BCE5BB;
    color:Black;
}

scroll .dataTables_scrollHead
{
    background-color: #BCE5BB;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BCE5BB), to(#239b56));
    background-image: -webkit-linear-gradient(top, #BCE5BB 0, #239b56 100%);
    background-image: -moz-linear-gradient(top, #BCE5BB 0, #239b56 100%);
    background-image: -ms-linear-gradient(top, #BCE5BB 0, #239b56 100%);
    background-image: -o-linear-gradient(top, #BCE5BB 0, #239b56 100%);
    background-image: -linear-gradient(top, #BCE5BB 0, #239b56 100%);
    font-size: 12px;
    color:#fff;

}
button.dt-button, div.dt-button, a.dt-button 
{
    background-color:#142d77;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1f0e9), to(#e1f0e9));
    background-image: -webkit-linear-gradient(top, #e1f0e9 0, #e1f0e9 100%);
    background-image: -moz-linear-gradient(top, #e1f0e9 0, #e1f0e9 100%);
    background-image: -ms-linear-gradient(top, #e1f0e9 0, #e1f0e9 100%);
    background-image: -o-linear-gradient(top, #e1f0e9 0, #e1f0e9 100%);
    background-image: -linear-gradient(top, #e1f0e9 0, #e1f0e9 100%);
    color:White;
}
.pagination > .active > a
{
    background-color: #BCE5BB;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BCE5BB), to(#239b56));
    background-image: -webkit-linear-gradient(top, #BCE5BB 0, #239b56 100%);
    background-image: -moz-linear-gradient(top, #BCE5BB 0, #239b56 100%);
    background-image: -ms-linear-gradient(top, #BCE5BB 0, #239b56 100%);
    background-image: -o-linear-gradient(top, #BCE5BB 0, #239b56 100%);
    background-image: -linear-gradient(top, #BCE5BB 0, #239b56 100%);
    font-size: 12px;
    color:#fff;
}

button.dt-button, div.dt-button, a.dt-button {
   
    background-color: #666868!important;
    background-image: -webkit-linear-gradient(top, #5F9868 0%, #578E60 100%)!important;;
    background-image: -moz-linear-gradient(top, #5F9868 0%, #578E60 100%)!important;;
    background-image: -ms-linear-gradient(top, #5F9868 0%, #578E60 100%)!important;;
    background-image: -o-linear-gradient(top, #5F9868 0%, #578E60 100%)!important;;
    background-image: linear-gradient(to bottom, #5F9868 0%, #578E60 100%)!important;;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
   
    font-weight: bold!important;
}


div.dataTables_info{padding-top:9px;font-size:13px;font-weight:700;font-style:italic;}

button.dt-button:not(.dt_custom_button),
div.dt-button:not(.dt_custom_button),
a.dt-button:not(.dt_custom_button) {
    -moz-user-select: none;
    background-color: #e9e9e9;
    background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    border: 1px solid #999;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.88em;
    margin-right: 0.333em;
    outline: medium none;
    overflow: hidden;
    padding: 0.5em 1em;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
button.dt-button:not(.dt_custom_button),
div.dt-button:not(.dt_custom_button),
a.dt-button:not(.dt_custom_button) {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.88em;
    color: #fff!important;
    white-space: nowrap;
    overflow: hidden;
    background-color: #bce5bb;

    font-size: 12px;
    /* Fallback */
    background-image: -webkit-linear-gradient(center top , #bce5bb 0px, #239b56 100%);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(center top , #bce5bb 0px, #239b56 100%);
    /* FF3.6 */
    background-image: -ms-linear-gradient(center top , #bce5bb 0px, #239b56 100%);
    /* IE10 */
    background-image: -o-linear-gradient(center top , #bce5bb 0px, #239b56 100%);
    /* Opera 11.10+ */
    background-image: linear-gradient(to bottom, white 0%, #bce5bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
}
.dt_custom_button{
    background:none!important;
    color:black!important;
    border:none; 
    padding:0!important;
    font-size: 12px!important;
    /*border is optional*/
   display:contents!important;
   
    cursor: pointer;
    font-weight: bold!important;
    padding-right:10px!important;
    margin-right: 10px!important;
}
.dt-toolbar
{
    background-color:#e1f0e9;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1f0e9), to(#e1f0e9));
    background-image: -webkit-linear-gradient(top, #e1f0e9 0, #e1f0e9 100%);
    background-image: -moz-linear-gradient(top, #e1f0e9 0, #e1f0e9 100%);
    background-image: -ms-linear-gradient(top, #e1f0e9 0, #e1f0e9 100%);
    background-image: -o-linear-gradient(top, #e1f0e9 0, #e1f0e9 100%);
    background-image: -linear-gradient(top, #e1f0e9 0, #e1f0e9 100%);
    color:White;
}

#header>:first-child, aside {
    width: 250px!important;
}

@media only screen and (max-width: 479px) and (min-width: 320px){
#left-panel {
    left: -280px;
}


}
@media only screen and (max-width: 679px) and (min-width: 0){
#left-panel {
    left: -280px;
}
}

.smart-form section {
    margin-bottom: 10px;
    position: relative;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.jarviswidget {
    margin: 0 0 20px!important;
  
}
.panel-title {
    font-weight: 700;
}



.jarviswidget-ctrls a {
  
    color: #fff!important;
}
.dt-toolbar-footer>:last-child, .dt-toolbar>:last-child {
    padding-right: 0!important;
    float: right!important;
}
.silk-icon-application-view-columns{background-image:url('icons/page_excel.png') !important;}
	
.bg-color-greenLight {
    background-color: #578E60!important;
}

.downloadLink{
    float:right;
    text-decoration:underline;
    font-weight: bold
}

.searchFieldsPane{
   
        display: block;
        background: #3a3633!important;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==)!important;
        background: -moz-linear-gradient(left,#3a3633 93%,#2a2725 100%)!important;
        background: -webkit-gradient(linear,left top,right top,color-stop(93%,#3a3633),color-stop(100%,#2a2725))!important;
        background: -webkit-linear-gradient(left,#3a3633 93%,#2a2725 100%)!important;
        background: -o-linear-gradient(left,#3a3633 93%,#2a2725 100%)!important;
        background: -ms-linear-gradient(left,#3a3633 93%,#2a2725 100%)!important;
        background: linear-gradient(to right,#3a3633 93%,#2a2725 100%)!important;
        margin: 10px 14px!important;
      
   
}

.page-title {
    margin: 12px 0 12px!important;
    padding-left: 20px!important;
    font-weight: bolder;
}

.smart-form {
   
    padding: 10px 14px!important;
}

label input[type=checkbox].checkbox+input[type=hidden]+span, label input[type=radio].radiobox+span {
    position: relative;
    z-index: 19;
    display: inline-block!important;
    margin: 0;
    line-height: 17px;
    min-height: 14px;
    min-width: 14px;
    margin-right: 5px;
}

.smart-form .textarea textarea {
    height: auto!important;
    resize: none;
}
.nav-tabs.bordered {
    background: black;
    /* color: #fff!important; */
    border: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

nav-tabs>li>a {
   color:#fff;
  display: block;
 
  
}
.nav-tabs>li>a:hover {
    color:#000;
    background-color: lightblue;
   
 }
 

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: rgb(50,76,127);
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    font-weight: 800;
}
.dt-button{
    float: right;
}
/*#main {
    margin-left: 250px!important;
    padding: 0;
    padding-bottom: 52px;
    min-height: 500px;
    position: relative;
}*/

h3{
    margin:5px 0px!important;
}
.product-deatil .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
     border: 1px solid #f9f9f9; 
    padding: 13px 19px;
}

.blockedSpan{
  display: block;
  font-size: 13px;
  color: #21c2f8;
  
 
}
.blockedSpanDark{
    display: block;
    font-size: 13px;
    color: #101357;
    padding-top: 5px;
    padding-bottom: 5px;
   
  }
  .blockedSpanDark .address{
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
   
  }
  .numeric{
      text-align: center;
  }
  .padding-bottom-5{
    padding-bottom: 5px!important;

  }
  .padding-top-5{
    padding-top: 5px!important;

  }

.blockedSpanBigger{
  font-weight: 600;
  font-size: 13px;
  display: block;
}

.fieldHeadingSmall{
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: bolder;
    display: block;
    font-size: 13px;
    color:#5D001E;
    
}

.fieldHeadingLarge{
    margin-top: 3px;
    margin-bottom: 2px;
    font-weight: bolder;
    display: block;
    font-size: 14px;
    color: #c80e13;
}
.cardLayout{
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: inset -2px -2px 5px rgba(0,0,0,.09);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 15px;
    margin-right:10px;
   
  
}
.borderedBottom{
    border-bottom: 1px dashed #969aaa;
}

.page-title{
    font-weight: 800;
    font-size:20px;
    
}

.dark-tab{
    
    color:black;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.boxedContent{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.card, .card-group {
    -webkit-box-shadow: 0 0 13px 0 rgba(74,53,107,.08);
    box-shadow: 0 0 13px 0 rgba(74,53,107,.08);
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(69,69,69,.6);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    margin-top:10px;
    
}
.panel-hdr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    min-height: 3rem;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-radius: 4px 4px 0 0;
    -webkit-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}

.fuelux{
    background:  linear-gradient(to bottom,#f5fcff 0,#fff 100%)!important;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
}
.green-color{
    color:darkolivegreen;font-size: 13px;
}
.red-color{
    color:red;font-size: 15px;
}
.chat-body li.message .message-text{
    margin-left: 0px!important;
}

.dataTables_wrapper .dataTables_processing {
   position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 40px;
    margin-left: -30%;
    margin-top: -25px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: #D1E8D2;
    background-image: none;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px){
.form-inline .form-control {
    display: inline-block;
   width:100%;
    vertical-align: middle;
}
}

.nav-tabs>li>a {
   color:white!important;
}

.table-striped > tbody > tr >td{
  font-size:13px;
}
.nav>li>a {
    font-size: 13px;
}

.chat-body li.message .message-text a.username{
    font-size: 12px;
}
.uploadTable {
    padding-right: 10px;
    font-size: 13px;
    margin-right: 10px;
}
.redBg {
    color: red;
}
.chat-body{
    background: #e1f7f5
}
.jarviswidget-ctrls i{
   line-height: 34px;
}
.ui-datepicker .ui-datepicker-title{
    white-space: nowrap;
}
.dt-toolbar {
    padding-bottom: 10px;
}
.hyperlinkedColumn{
    color:#1c6c91!important;
    font-weight:600;
  
}
.nav>li>a {
    font-size: 13px;
    color:#009B77;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: rgb(44, 183, 99)!important;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
   
    font-size: 13px;
}
.chat-body ul {
    margin: 0;
    padding: 10px;
    
}
.chat-body li.message {
    display: block;
    position: relative;
    margin: 0px 0px 0;
    background: #d1ebe8;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.04);
    -moz-box-shadow: inset -2px -2px 5px rgba(0,0,0,.04);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
     padding: 10px;
}
.chat-body li.message .message-text time {
    font-size:11px;
    color:#116466;
}
.txt-color-darkRed{
    color:#5D001E;
}
.communicationSpan {
    display: inline-block;
    width: 30px;
  }
   .table-bordered>tbody>tr>td{
    font-size: 12px;
    color:#101357;
}
.onoffswitch{
     color:#101357;
}
 .table-bordered>thead>tr>td{
    font-size: 13px;
    font-weight: bold;
    
}
  .modal-input{
      width:30%!important;
  }
  .text-line {
    background-color: transparent;
   
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #949292 1px;
    padding: 3px 10px;
}
#loadingIcon{
    width:20px;
}